numpy==1.24.4
matplotlib==3.9.1.post1
pandas==2.2.2
tensorflow==2.14.0
pandas-datareader==0.10.0
yfinance==0.2.41
seaborn==0.13.2
scikit-learn==1.5.1
fredapi==0.5.2
xgboost==2.1.2
statsmodels==0.14.4
